<div class="bluebox" align="center">

  <h1>Administrator</h1>


</div>

</br>

<div class="bluebox" align="center">

  <table rules="rows" frame="below">
    <tbody>
    <tr>
      <th style="width: 100px" align="left">MENU</th>
    </tr>

    <tr>
      <th style="width:255px" align="left">Manage Package</th>
      <th>
        <div align="right"><a href="/packageinfos">Add packages </a></div>
      </th>

    </tr>


    <tr>
      <th style="width:255px" align="left">Manage Category</th>
      <th>
        <div align="right"><a href="/categories">Add Categories </a>  </div>
      </th>

    </tr>


    </tbody>


  </table>
</div>