<div class="bluebox" align="center">
  <h2>Editing packageinfo</h2>
</div>
</br>
<div class="bluebox" style="text-align: left">


  <%= render 'form' %>

  <%= link_to 'Show', @packageinfo %> |
  <%= link_to 'Back', packageinfos_path %>
</div>